body {
    display: flex;
    justify-content: center;
    min-width: 370px;
    margin: 0;
}

.all-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    min-width: 450px;
    max-width: 800px;
    gap: 10px 10px;
}


/*============== Card Attr Section ==============*/

.card-color {
    background: rgb(28, 30, 162);
    background: linear-gradient(-35deg, rgba(28, 30, 162, 1) 0%, rgba(0, 212, 255, 1) 50%, rgba(28, 30, 162, 1) 100%);

}

/*============== Front Card Section ==============*/

.card-front-container {
    border-radius: 12px;
    width: 370px;
    height: 200px;
    padding: 20px 0px 10px;
    text-shadow: 1px 0px 3px black;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    color: white;
}

.bank-logo-container {
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;

}

.front-card-container .bank-name {
    padding-left: 20px;
}

.logo-here {
    float: right;
    padding-right: 20px;
}

.arrow-card-chip-container {
    display: flex;
    align-items: center;
    padding: 20px 0 10px 10px;
    padding-left: 30px;

}

.arrow {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 15px solid white;
    border-bottom: 15px solid transparent;
    margin-right: 10px;

}

.card-chip {
    background-color: transparent;
    height: 40px;
    width: 50px;
    border-radius: 8px;
}

.card-front-container .card-number {
    text-align: center;
    letter-spacing: 5px;
}

.valid-date-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    line-height: 12px;
    margin: 15px 0 5px;
    text-shadow: none;
}

.exp-date {
    letter-spacing: 4px;
    margin-left: 10px;

}

.card-front-container .owner-name {
    letter-spacing: 3px;
    padding-left: 20px;
    margin-top: 20px;
    display: inline;
    position: relative;
    top: 10px;
}

.master-card-symbol {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 25px;
    padding-right: 20px;
}

.circle-orange {
    background: orange;
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

.circle-red {
    background: red;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    left: 15px;
}

/*============== Back Card Section ==============*/

.card-back-container {
    border-radius: 12px;
    max-width: 370px;
    min-width: 370px;
    height: 200px;
    padding: 20px 0 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    color: white;
}

.black-electronic-row {
    background: black;
    padding: 10px 0;
    height: 20px;
    margin-bottom: 3px;
}

.card-back-signature-cvc-container {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.signature {
    background: rgba(224, 217, 217, 0.8);
    width: 270px;
    height: 32px;
}

.signature hr {
    margin: 1px 0;
    padding-top: 1px;
}

.cvc {
    background: white;
    color: black;
    padding: 3px;
}

.agreement-text {
    font-size: 11px;
    font-weight: 500;
    text-align: justify;
    padding: 0 20px;
}

/*============== Card Information Input Section ==============*/

.card-information-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 370px;
    row-gap: 20px;
}

.card-information-container input {
    border: none;
    outline: none;
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    padding: 5px 0;
}

.card-information-container label {
    font-size: 0.8rem;
    color: rgba(128, 128, 128, 0.3);
}

.card-information-container button {
    width: 100%;
    border: none;
    background: rgba(13, 13, 247, 0.521);
    color: white;
    border-radius: 5px;
    height: 40px;
}

.card-information-container * {
    width: 100%;
}

.exp-cvc-container {
    display: flex;
    justify-content: space-between;
}

.exp {
    width: 45%;
}

.cvc {
    width: 45%;
    padding: 0;
}